# Credentials and Secrets
.env
.env.*
**/env/*.json
**/env/*.txt
**/yc_env/*.json
**/*.key
**/*.pem
**/*.json
!package.json
!tsconfig.json
!composer.json
!project.json
!pnpm-workspace.yaml
!packages/**/package.json
!**/compose*.yaml
!**/Dockerfile*

node_modules*
**/build
.serverless
**/.next

.DS_Store

**/.env*
!**/.env.example
**/env/*.json
**/env/*.txt
**/yc_env/*.json

*.log

/session
*.sqlite*

# Terraform
.terraform
*.tfstate*
*.tfvars

*.zip

*.local.md

__pycache__/

*.mp4
